html {
    margin: 0px;
}

html,
body {
    background-image: url('../res/img/loginwallpaper.png');
    background-color: #4da0e9;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

body {
    margin: 0px;
    background-color: whitesmoke;
}

#slidemenu ol,
#subslidemenu ol {
    list-style-type: none;
    width: inherit;
    height: inherit;
    background-color: inherit;
}

.clickable {
    cursor: pointer;
}

.clickableSizes {
    width: max-content;
    height: max-content;
}

#topbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #111;
    color: white;
    position: fixed;
    z-index: 2;
}

#searchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#rightIconMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 20%;
}

#maincontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#footbar {
    height: 20%;
    width: 100%;
}

#slidemenu {
    height: 100%;
    background-color: red;
    opacity: 0.7;
    color: black;
    position: fixed;
    padding-right: 1.5em;
    z-index: 2;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-newevent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#title-newevent {
    text-align: center;
}

.inputImage {
    width: 100%;
    margin: auto;
}

#events-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

#events-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.event-container {
    margin: auto;
    width: 100%;
}

.event-image {
    height: 100%;
}

.event-arrow {
    float: right;
}

.nonVisible {
    display: none !important;
}

#searchbar {
    width: 16rem;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 10rem;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.flex-col-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
}