#icon_myaccount {
    color: red;
}

#num_notifications {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    background-color: red;
    border-radius: 50%;
    font-size: larger;
}

#price_details {
    position: fixed;
    right: 1%;
}

#container-fluid {
    display: flex;
    flex-direction: row;
    width: 70%;
}

#filters {
    position: fixed;
    right: 1%;
}


/* Login Page */

#loginlogo {
    max-width: 50%;
    height: auto;
}

#browseeventstext {
    padding-right: 15%;
    padding-top: 6%;
    font-size: 24px;
    color: white;
    float: right;
}

#loginForm {
    float: right;
    width: 50%;
    padding-left: 17%;
    padding-top: 5%;
}

#signupForm {
    float: left;
    width: 50%;
    padding-left: 5%;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

#logincard {
    min-width: 20rem;
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#logincard h1 {
    color: white;
    font-size: 32px;
}

#logincard label {
    color: white;
}

#logincard button {
    background-color: #FFC312;
    color: black;
    float: right;
    width: 100px;
}

#logincard button:hover {
    color: black;
    background-color: white;
}

#registrationcard {
    min-width: 20rem;
}

#registrationcard button {
    background-color: #FFC312;
    color: black;
    width: 100px;
}

#registrationcard button:hover {
    color: black;
    background-color: white;
}