html{
	margin: 0px;
	height: 100%;
	width: 100%;
}
body{
	margin: 0px;
	min-height: 100%;
	width: 100%;
	background-color: orange;
}

#slidemenu ol, #subslidemenu ol{
	list-style-type: none;
	width: inherit;
	height: inherit;
	background-color: inherit;
}

.clickable{
	cursor: pointer;
}

.clickableSizes{
	width: max-content;
	height: max-content;
}

#topbar{
	width:100%;
	height:20%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: black;
	color:white;
}

#searchbar{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#maincontent{
	height: 60%;
	width: 100%;
	position: absolute;
}

#footbar{
	height: 20%;
	width: 100%;
}

#slidemenu{
	height: 100%;
	background-color: red;
	opacity: 0.7;
	color:black;
	position: fixed;
	padding-right: 1.5em;
}

