/* main content */
html {
    margin: 0px;
}

html, body {
    background-image: url('../res/img/loginwallpaper.png');
    background-color: #4da0e9;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

body {
    margin: 0px;
    background-color: whitesmoke;
}

h1{
    font-weight: bold;
}

#maincontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: 1;
}

/* menus */

#topbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(34, 27, 27, 0.99);
    color: white;
    position: fixed;
    z-index: 2;
}

#slidemenu {
    height: 100%;
    background-color: rgba(34, 27, 27, 0.6);
    color: white;
    position: fixed;
    z-index: 2;
}

#subslidemenu {
    padding-top: 2em;
}

#slidemenu ol, #subslidemenu ol {
    list-style-type: none;
    width: inherit;
    height: inherit;
    background-color: inherit;
    padding-right: 1.5em;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#rightIconMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 20%;
}

/* footbar */

#footbar {
    height: 20%;
    width: 100%;
}

/* events */

#events-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

#events-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.event-container {
    margin: auto;
    width: 100%;
}

.event-image {
    height: 100%;
}

.event-arrow {
    float: right;
}

#form-newevent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#events-more {
    min-width: min-content;
}

#title-showevent {
    text-align: center;
}

#title-modifyevent {
    text-align: center;
}

/* searchbar */

#searchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 16rem;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 10rem;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

/* layouts */
.transparent-layout {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
}

.transparent-layout-white {
    background-color: rgba(255, 255, 255, 0.5);
}

.transparent-layout-red {
    background-color: #f8d7da;
    border-radius: 5px;
}

/* buttons */

.back-yc {
    background-color: #FFC312;
    color: black;
}

.back-wc:hover {
    color: black;
    background-color: white;
}

/* carousel */

.carousel-inner {
    height: 50vh;
}

.carousel-item {
    height: 100%;
}

/* colors */

.bc {
    color: #4da0e9;
}

.yc {
    color: #FFC312;
}

/* myaccount page */ 
#myaccount {
    margin-bottom: 5%;
}

/* cart */ 
#cartbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Miscellaneous */

.hr-w {
    border-top-color: white;
}

.w-mc {
    width: min-content;
}

.flex-col-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fj-sa{
    display: flex;
    justify-content: space-around;
}

.nonVisible {
    display: none !important;
}

.inputImage {
    width: 100%;
    height: 100%;
    margin: auto;
}

.clickable {
    cursor: pointer;
}

.clickableSizes {
    width: max-content;
    height: max-content;
}