#slidemenu ol, #subslidemenu ol{
	list-style-type: none;
	width: inherit;
	height: inherit;
	background-color: inherit;
}

.clickable{
	cursor: pointer;
}

.clickableSizes{
	width: max-content;
	height: max-content;
}

#topbar{
	width:100%;
	height:20%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: black;
	color:white;
}

#slidemenu{
	height: 100%;
	width: 20%;
	background-color: red;
	opacity: 0.7;
	color:black;	
}