#num_notifications {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    background-color: red;
    border-radius: 50%;
    font-size: larger;
}

#price_details {
    position: fixed;
    right: 1%;
}

#container-fluid {
    display: flex;
    flex-direction: row;
    width: 70%;
}

#filters {
    position: fixed;
    right: 1%;
}

/* Login Page */
#loginlogo {
    max-width: 50%;
    height: auto;
}

#browseeventstext {
    max-width: 50%;
    padding-left: 15%;
    padding-right: 14%;
    padding-top: 4%;
    font-size: 24px;
    color: white;
    float: right;
    text-align: center;
}

#loginForm {
    float: right;
    width: 51%;
    padding-left: 20%;
    padding-top: 2%;
}

#signupForm {
    float: left;
    width: 49%;
    padding-left: 5%;
}

#logincard {
    min-width: 20rem;
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
}

#logincard h1 {
    color: white;
    font-size: 32px;
}

#logincard label {
    color: white;
}

#logincard button {
    float: right;
    width: 100px;
}

#registrationcard {
    min-width: 20rem;
}

#registrationcard button {
    width: 100px;
}

/* miscellaneuos */
.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

/* Empyt Image for new and modify event */
#emptyEventImage {
    width: 50% !important;
}

/* cart */
#removebutton {
    float: right !important;
}

.product h1 {
    font-size: 25px;
}

.product h2 {
    font-size: 16px;
}

#product-image {
    margin-top: 2%;
    margin-bottom: 2%;
}